html, body {
  height: 100%;
}

header {
  color: white;
  padding-top: 30px;
  height: 60px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  background: #D3360B;

  .menu a{
    color: white;

    text-decoration: none;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
    margin-left: 15px;

  }
  .menu a:hover{
    color: black;
  }
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -143px;
}

#content{
  //overflow: auto;

  h1{
    margin: 20px 0px 20px 0px;
  }
}

.push_footer{
  height: 143px; /* Height of the footer */

}

footer {
  height:63px;   /* Height of the footer */
  background:#6cf;

  color: #666;
  overflow: hidden;
  margin-top: 20px;
  padding-top: 40px;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 20px;
  background: #F4F4F4;
  line-height: 1.5;
  text-align: center;

  .slogan{
    font-weight:bold;
  }
}
